<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование публикации</title>
</head>
<body style="background-color: #01241c">
<style>
    a {
    text-decoration: none;
    color: #e5eaf5;
    }
    a : hover {
    font-size: 30px;
    }
</style>
    <a href="{% url 'posts' %}">
    <div style="text-align: center">
        <p style="margin: 70px; font-size: 40px; color: #f3f5fa">Редактировать пост</p>
    </div>
    </a>
    <div style="padding-left: 30px; display: inline-block">
        <form action="{% url 'posts' %}" style="margin-bottom: 30px">
            <input type="submit" style="border-radius: 4px;  background-color: #e5eaf5; color: #220006" value="К постам" />
        </form>

            <form style="margin: 10px">

            </form>
        </div>
    </div>
    <div>
         <div style="margin: 30px; align-items: center; width: 600px; border: 1px solid; border-radius: 10px; background-color: #220006; color: #e5eaf5; display: inline-block">
            <form action="" method="POST"  style="margin: 10px">{% csrf_token %}
                {{form.as_p}}
                <input type="submit" style="border-radius: 4px;  background-color: #e5eaf5; color: #220006" value="Опубликовать" />
                <a href="{% url 'post_delete' post_pk=request.path %}" style="width: 600px; border-radius: 2px;  background-color: #e5eaf5; color: #220006" value="Удалить" />Удалить</a>
            </form>
         </div>
    </div>
</body>
</html>