<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новая публикация</title>
</head>
<body style="background-color: #01241c">
<style>
    a {
    text-decoration: none;
    color: #e5eaf5;
    }
    a : hover {
    font-size: 30px;
    }
</style>
    <div style="text-align: center">
        <p style="font-size: 40px; color: #f3f5fa">Новая публикация</p>
    </div>

    <div style="margin: 30px; display: inline-block">
        <form action="{% url 'posts' %}" style="margin-bottom: 30px">
            <input type="submit" style="border-radius: 4px;  background-color: #e5eaf5; color: #220006" value="К постам" />
        </form>
        <div style="align-items: center; width: 600px; border: 1px solid; border-radius: 10px; background-color: #220006; color: #e5eaf5; display: inline-block">
            <form action="/" style="margin: 10px">
                {{form.as_p}}
            </form>
        </div>
    </div>
    <div style="width: 100px; margin: 0 auto;">
        <form action="{% url 'posts' %}" style="margin-bottom: 30px">
            <input type="submit" style="border-radius: 4px;  background-color: #e5eaf5; color: #220006" value="Опубликовать" />
        </form>
    </div>
</body>
</html>