<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <meta charset="UTF-8">
        <title>Корзина</title>
        <script src="{% static 'js/script.js' %}"></script>
        <link rel="stylesheet" href='{% static "css/style.css" %}'>
    </head>
    <body>
        <a class="decor" href = "{% url 'posts' %}">
            <p class="title-blog">Заказ</p></a>
        {% for order in orders %}
        <h3>Номер заказа: {{order.id}}</h3>
            {% for product in order.products.all %}
            </br>{{product.title}} - {{product.price}} рублей.</br>

            {% endfor %}
        </br>Cостояние: {{order.condition}}</br>
        <h3>Дата доставки: {{ order.date_dilivery }}</h3>
        <h2>Итого: {{ order.total_price }}</h2>
            <br></br>
        {% endfor %}

        <a class="fcc-btn" href="{% url 'cart_del_all' %}">Очистить корзину</a>
        <a class="fcc-btn" href="{% url 'order' %}">Заказать</a>
    </body>
</html>