<!DOCTYPE html>
{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script type="text/javascript" src='{% static "js/script.js" %}'></script>
        <meta charset="UTF-8">
        <title>Блог</title>
    </head>
    <body>
            <div style="position: fixed; left: 1000px">
                <a class="decor" href = "{% url 'posts' %}">
                    <p class="title-blog">Категории</p>
                </a>
                <div class="post-border">
                        {% for i in category %}
                        <div class="blog-border-center">
                            <a class="blog-border-center decor" href="{% url 'categories' categories_pk=i.pk %}">{{ i.item }}</a>
                        </div>
                        {% endfor %}
                </div>
            </div>
            <div style="position: fixed; left: 1400px">
                    <a class="decor" href = "{% url 'cart_detail' %}">
                        {% if cart_items == 0 %}
                        <p class="title-blog">Корзина</p>
                        {% else %}
                        <p class="title-blog">Корзина ({{cart_items}})</p>
                        {% endif %}
                    </a>
                    {% if request.user.is_authenticated %}
                        <div class="post-border">
                            <div class="blog-border-center">
                                <a> {{request.user}} </a>
                            </div>
                        </div>
                    {% else %}
                        <div class="post-border">
                            <div class="blog-border-center">
                                <a> Вход </a>
                            </div>
                        </div>
                    {% endif %}
                </div>
            <div style="display: inline-block; margin: 1px auto; position: absolute">
                <div style="height: 60px">
                    <a class="decor" href = "{% url 'posts' %}">
                            {% if items|length == 1 %}
                                {% for i in items %}
                                    <p class="title-blog">{{i.category__item}}</p>
                                {% endfor %}
                            {% else %}
                            <p class="title-blog">Товары</p>
                            {% endif %}
                    </a>
                </div>
                {% if user.is_superuser %}
                    {% if request.build_absolute_uri == 'http://127.0.0.1:8000/posts/' %}
                        <form action="{% url 'posts_false' %}">
                            <input class="post-button" type="submit" value="Не опубликованные" />
                        </form>
                    {% else %}
                        <form action="{% url 'posts' %}">
                            <input class="post-button" type="submit" value="Опубликованные" />
                        </form>
                    {% endif %}
                {% endif %}
            <div style="margin: 10px">
                        <div style="display: inline-block; margin: 1px auto;">
                            <p style="margin: 20px; font-size: 20px; color: #f3f5fa"/>Постов: {{ cou }}</p>
                        </div>
                    </div>
            <div style="margin: 0 auto;  width: 950px;">
                   {% for post in items %}
                    <div class="post-border">
                            <a class="decor" href="{% url 'post' post_pk=post.pk %}">
                                <div class="blog-border-center">{{ post.title }}</div>
                                <div style="border-bottom: 1px solid"></div>
                            </a>
                                <div style="border-bottom: 1px solid"></div>
                            <div style="display: inline-block;margin: 11px; width: 280px;">
                                <div> Цена: {{ post.price|floatformat:1}} рублей</div>
                            <div style="align-items: flex-end;
                                      display: flex;
                                        align-items: center;
                                        justify-content: center;
                                      ">
                            <a href="{% url 'cart_add' product_pk=post.pk %}" class="fcc-btn">Добавить в корзину</a>

                            </div>
                            {% if post.date != post.date_publication %}
                                <div style="text-align: left">Изменено: {{ post.date_publication }}</div>
                            {% else %}
                                <div style="text-align: left">Размещено: {{ post.date }}</div>
                            {% endif %}
                                <div class="blog-border-center">Рейтинг: {{ post.comments__raiting__avg|floatformat:2 }}</div>
                            </div>
                    </div>
                    {% endfor %}
                </div>
            {% if user.is_superuser %}
            <div style="margin: 10px">
                <form action="{% url 'new_post' %}">
                    <input type="submit" class="post-button" value="Cоздать пост" />
                </form>
            </div>

            {% endif %}
            </div>
            <script src="{% static 'script.js' %}"></script>
        <!--    <script rel="stylesheet" href="{ url static 'js/script.js'}"></script>-->
    </body>
</html>