<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="utf-8">
        <title>Регистрация</title>
    </head>
    <br>
        <h1> Регистрация нового пользователя </h1>
        <form method="post" enctype="multipart/form-data" action="/new_profile/add">
            {% csrf_token %}
<!--            <label for="fedback-text">Имя:</label>-->
<!--            <input id="fedback-text" type="text" name="name" required>-->

<!--            <label for="surname">Фамилия:</label>-->
<!--            <input id="surname"  type="text" name="surname" required>-->

<!--            <label for="feedback-grade">Оценка:</label>-->
<!--            <input id="feedback-grade" type="number" name="grage" min="1" max="5">-->

<!--            <label for="image">Загрузите фотографию:</label>-->
<!--            <input id="image" name="image" type="file">-->
            {{ form }}
            <input id="submit" type="submit">
        </form>

        <br>ИМЯ: {{ text1 }}</br>
        <br>ФАМИЛИЯ: {{ text2 }}</br>
        <br>ОЦЕНКА: {{ num }}</br>
        <br>ФОТО: {{ photo }}</br>
        <br>ОТЗЫВ: {{ text3 }}</br>

    </body>
</html>